@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* ini buat sidebar and footer */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    --color-hover: rgba(32, 59, 232);
    --transition: all 0.3s ease;
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #e2e2e2;
    --footer-bg-light: #222831;
    --footer-bg-dark: #111;
    --footer-text-light: #ffffff;
    --footer-text-dark: #d3d3d3;
}

.dark-mode {
    --color-white: #000;
    --color-black: #fff;
    --color-bg: #1d1b31;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 78px;
    height: 100%;
    background: var(--color-white);
    padding: 8px 16px;
    transition: var(--transition);
}

.sidebar.expand {
    width: 250px;
    transition: var(--transition);
}

.nav-header {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-header .logo {
    color: var(--color-black);
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: var(--transition);
}

.sidebar.expand .nav-header .logo {
    opacity: 1;
    transition: var(--transition);
}

.nav-header .btn-menu {
    position: absolute;
    color: var(--color-black);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 23px;
    cursor: pointer;
    margin-right: 10px;
}

.sidebar.expand .nav-header .btn-menu {
    margin-right: 0;
}

.user-account {
    margin-top: 14px;
    padding: 12px 10px;
    margin-left: -10px;
    transition: var(--transition);
    border-radius: 12px;
    overflow: hidden;
}

.user-account:hover {
    background: var(--color-hover);
}

.user-account .user-profile {
    display: flex;
    align-items: center;
    color: var(--color-black);
    transition: var(--transition);
}

.user-account img {
    width: 42px;
    border-radius: 50%;
    transition: var(--transition);
}

.user-detail {
    margin-left: 16px;
    white-space: nowrap;
    transition: var(--transition);
}

.user-profile h3,
.user-profile span {
    transition: var(--transition);
}

.sidebar.expand .user-account .user-profile img,
.sidebar.expand .user-account .user-detail h3,
.sidebar.expand .user-account .user-detail span {
    opacity: 1;
    transition: var(--transition);
}

.nav-links {
    margin-top: 20px;
    height: 100%;
}

.nav-links li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.nav-links i {
    color: var(--color-black);
    height: 50px;
    min-width: 50px;
    font-size: 23px;
    text-align: center;
    line-height: 50px;
}

.nav-links input {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-black);
    outline: none;
    height: 40px;
    width: 50%;
    border: none;
    border-radius: 12px;
    background: var(--color-bg);
    padding: 0;
}

.sidebar.expand .nav-links input {
    width: 100%;
    padding: 0 20px 0 40px;
}

.nav-links li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    background: var(--color-white);
}

.nav-links li:hover a {
    background: var(--color-hover);
}

.nav-links li:hover i {
    color: var(--color-white);
}

.nav-links li a .title {
    color: var(--color-black);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    display: none;
    transition: var(--transition);
}

.sidebar.expand .nav-links li a .title {
    display: block;
    transition: var(--transition);
}

.nav-links li:hover a .title {
    color: var(--color-white);
}

.nav-links li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: var(--color-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 14px;
    color: var(--color-black);
    font-size: 15px;
    white-space: nowrap;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: var(--transition);
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.expand .tooltip {
    display: none;
}

.theme-wrapper {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 250px;
    left: 0;
    padding: 8px 16px;
}

.theme-wrapper .theme-icon {
    font-size: 20px;
    color: var(--color-black);
    display: none;
    transition: var(--transition);
}

.sidebar.expand .theme-wrapper .theme-icon {
    display: block;
}

.theme-wrapper p {
    font-size: 16px;
    color: var(--color-black);
    font-weight: 400;
    display: none;
    transition: var(--transition);
}

.sidebar.expand .theme-wrapper p {
    display: block;
}

.theme-wrapper .theme-btn {
    width: 40px;
    height: 20px;
    background: var(--color-bg);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.theme-wrapper .theme-btn .theme-ball {
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--color-black);
    border-radius: 50%;
    top: 2px;
    left: 3px;
    transition: var(--transition);
}

.theme-wrapper .theme-btn .theme-ball.dark {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    min-height: 100vh;
    background: var(--color-bg);
    z-index: 6;
    transition: var(--transition);
}

.sidebar.expand~.home {
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--transition);
}

.sticky-footer p {
    font-size: 11px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 12px 0;
    text-align: center;
    margin-left: 0px;
    background-color: var(--footer-bg-light);
    color: var(--footer-text-light);
    transition: var(--transition);
    padding: 0px;
}

.dark-mode .sticky-footer p {
    background-color: var(--footer-bg-dark);
    color: var(--footer-text-dark);
}



/* loginin */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1d1b31;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background: #000;
    box-shadow: 0 0 50px #ffffff;
    border-radius: 45px;
    padding: 40px;
    overflow: hidden;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

.wrapper.active .form-wrapper.sign-in {
    transform: translateY(-450px);
}

.wrapper .form-wrapper.sign-up {
    position: absolute;
    top: 450px;
    left: 0;
}

.wrapper.active .form-wrapper.sign-up {
    transform: translateY(-450px);
}

h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -5px;
}

.remember {
    margin: -5px 0 15px 5px;
}

.remember label {
    color: #fff;
    font-size: 14px;
}

.remember label input {
    accent-color: #0ef;
}

button {
    position: relative;
    width: 100%;
    height: 40px;
    background: #0ef;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
}

.text-red-600 {
    color: #e3342f;
    /* Warna merah untuk teks kesalahan */
    margin-top: 0.25rem;
    /* Tambahkan margin atas */
    font-size: 0.875rem;
    /* Ukuran teks sedikit lebih kecil */
    font-weight: bold;
    /* Jadikan teks lebih tebal agar terlihat */
}

.signUp-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.signUp-link p {
    color: #fff;
}

.signUp-link p a {
    color: #0ef;
    text-decoration: none;
    font-weight: 500;
}

.signUp-link p a:hover {
    text-decoration: underline;
}

/* media gatau buat apaan */
@media (max-width: 768px) {
    .sidebar {
        width: 60px;
        padding: 8px;
    }

    .sidebar.expand {
        width: 200px;
    }

    .home {
        left: 60px;
        width: calc(100% - 60px);
    }

    .sidebar.expand~.home {
        left: 200px;
        width: calc(100% - 200px);
    }

    .nav-header .logo {
        font-size: 18px;
    }

    .nav-links li a .title {
        font-size: 13px;
    }

    .theme-wrapper {
        width: 200px;
    }

    .theme-wrapper p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 50px;
        padding: 4px;
    }

    .sidebar.expand {
        width: 180px;
    }

    .home {
        left: 50px;
        width: calc(100% - 50px);
    }

    .sidebar.expand~.home {
        left: 180px;
        width: calc(100% - 180px);
    }

    .nav-header .logo {
        font-size: 16px;
    }

    .nav-links li a .title {
        font-size: 12px;
    }

    .theme-wrapper {
        width: 180px;
    }

    .theme-wrapper p {
        font-size: 12px;
    }
}